// app global css in SCSS form
html,
body {
    min-width: 360px;
}

.q-splitter__separator {
    width: 10px !important;
}

.q-pa-md {
    width: 100%;
    height: 100%;
    overflow: auto;

    .q-list {
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        overflow-x: scroll;
        ::-webkit-scrollbar {
            width: 10px;
            height: 10px;
        }
    
        /* Track */
        ::-webkit-scrollbar-track {
            display: none;
        }
    
        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: rgba(128, 128, 128, 0.3);
        }
        .q-item{
            overflow: visible;
        }
    }

    ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        display: none;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: rgba(128, 128, 128, 0.3);
    }
}